.grid-container {
  padding-top: 3.2rem;
  padding-left: 4.6rem;
  padding-right: 4.6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.nav {
  justify-self: end;
}

.main {
  grid-column: 1 / span 2;
  grid-row-start: 3;
}
