.nav {
  width: 3.5rem;
  height: 0.5rem;
  background: $color-white;
  border-radius: 3px;
  margin-top: 1rem;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    width: 2rem;
    height: 0.5rem;
    display: block;
    margin-top: -1rem;
    border-radius: 3px;
    margin-left: -0.1rem;
    background: $color-white;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 4.5rem;
    height: 0.5rem;
    display: block;
    margin-top: 1rem;
    border-radius: 3px;
    background: $color-white;
  }
}
